{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get User Location</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static 'styles/index.css' %}">
    <link rel="stylesheet" href="{% static 'styles/card.css' %}">
    <link rel="stylesheet" href="{% static 'styles/footer.css' %}">
    <link rel="stylesheet" href="{% static 'styles/herosection.css' %}">
</head>
<body>

    {% include "navbar.html" %}

    {% include "herosection.html" %}
    
    

   {% include "card.html" with places=places %}

    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

    {% include "footer.html" %}

    <!-- Script to retrieve user location when the page loads -->

</body>
</html>
