{% load static %}
{% block cards %}


<div class="cards-container">
  {% for place in places%}
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{place.name}}</h5>
      <div class="restaurant-details">
        {% for category in place.categories%}
          <span class="cuisine">{{category.short_name}}</span>
        {% endfor %}
      </div>
      <p class="card-text">{{place.description}}</p>
      <div class="card-details">
        <div class="location">
          <i class="fas fa-map-marker-alt"></i>
          <span>{{place.location.formatted_address}}</span>
        </div>
        <div class="reviews">
          <i class="fas fa-star"></i>
          <span>{{place.rating}}</span>
        </div>
        <div class="phone">
          <i class="fas fa-fire"></i>
          <span>
            {% if place.popularity >= 0.75 %}
              Very popular
            {% elif place.popularity >= 0.50 %}
              Fairly popular
            {% else %}
              popular
            {% endif %}
          </span>
        </div>
      </div>
      <div class="view_place_btn">
        <a href="{% url 'place_details' place_id=place.fsq_id %}" class="btn btn-primary">View Place Details</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock cards %}