{% load static %}
{% block cards %}


<div class="cards-container">
  {% for place in places %}
  <div class="card">
    <img src="{% static place.image %}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{place.name}}</h5>
      <div class="restaurant-details">
        <span class="cuisine">{{place.cuisine}}</span>
        <span class="price-range">${{place.price_range}}</span>
      </div>
      <p class="card-text">{{place.description}}</p>
      <div class="card-details">
        <div class="location">
          <i class="fas fa-map-marker-alt"></i>
          <span>123 Main Street, City</span>
        </div>
        <div class="reviews">
          <i class="fas fa-star"></i>
          <span>4.5 (120 reviews)</span>
        </div>
        <div class="phone">
          <i class="fas fa-phone"></i>
          <span>(123) 456-7890</span>
        </div>
      </div>
      <div class="view_place_btn">
        <a href="#" class="btn btn-primary">View Place</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock cards %}